h1 {color: blue; text-align: center;
}
ul{ color: brown;
}
p{text-align: justify;font-size: 24px;font-weight: bold;margin: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{ width: 300px;margin: 45px
}
h3{color:darkolivegreen }

#másodikH3 {color: deeppink;}

html{background-color: rgb(153, 153, 153);
background-image: url(/img/szarka.JPG) ;
background-position: left;
background-repeat: no-repeat;

}
