.munkatarsak { display: block; margin: 3%;padding: 2%;
     border: solid;border-color: rgb(212, 212, 212) ;}

.kontakt{display: block; margin: 3%;
    border: solid;  border-color:rgb(212, 212, 212);padding: 2%;}     
.referencia{ display: block; margin: 3%;
    border: solid;  border-color:rgb(212, 212, 212);padding: 2%;}

img{display: block; margin-left: auto; margin-right: auto;width: 80%;}

p{text-align: center;font-size: 20px;font-weight: bold;}

h1 { text-align: center;}

h3{ text-align: justify; font-size: 24px;margin: 3%}

html{background-color: rgb(163, 165, 164);}

table{width: 80%;margin: auto;margin-bottom: 2%; }

th, td {border-bottom: 1px solid #ddd;font-size: 20px; font-weight:bold;}

caption{font-size: 20px; font-weight:bold;}

li{font-size: 20px; font-weight:bold;}